@using System.Web
@model ProRota.Models.Site

<div class="card shadow-sm p-3 mb-5">
    <div class="card-header text-center">
        <h1 class="display-4">Site Management</h1>
        <h3>Configure Your Site</h3>
    </div>
    <div class="card-body text-center">
        
        <div>
            <h4>@Model.Company.CompanyName @Model.SiteName Details</h4>
            <hr />
            <dl class="row">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Site Configuration</h5>
                        @{
                            //if the site hasnt been configured yet
                            if (Model.SiteConfiguration != null)
                            {
                                <div class="d-flex justify-content-center gap-3 flex-wrap">
                                    <!-- Booking Duration Card -->
                                    <div class="card small-card">
                                        <div class="card-body">
                                            <h6 class="card-title">Booking Duration</h6>
                                            <p class="card-value">@Model.SiteConfiguration.BookingDuration</p>
                                        </div>
                                    </div>

                                    <!-- Covers Capacity Card -->
                                    <div class="card small-card">
                                        <div class="card-body">
                                            <h6 class="card-title">Covers Capacity</h6>
                                            <p class="card-value">@Model.SiteConfiguration.CoversCapacity</p>
                                        </div>
                                    </div>

                                    <!-- Number of Sections Card -->
                                    <div class="card small-card">
                                        <div class="card-body">
                                            <h6 class="card-title">Number of Sections</h6>
                                            <p class="card-value">@Model.SiteConfiguration.NumberOfSections</p>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="text-center">
                                    <a href="javascript:void(0);" onclick="showEditSiteConfigurationPopUp('@Model.Id', '@Model.SiteName')" class="btn btn-primary btn-sm">Edit Configuration</a>
                                </div>
                            }
                            else
                            {
                                <p class="card-text"> Your site configuration settings have not been created yet. In order for ProRota to create accurate and efficient schedules for @Model.Company.CompanyName @Model.SiteName this must be completed!</p>
                                <div class="text-center">
                                    <a href="javascript:void(0);" onclick="showEditSiteConfigurationPopUp('@Model.Id', '@Model.SiteName')" class="btn btn-primary btn-sm">Edit Configuration</a>
                                </div>
                            }

                            <br />
                            <h5 class="card-title"> Roles and Categories</h5>


                            //if there are no roles related to this site yet
                            if (Model.SiteConfiguration != null &&
                                    Model.SiteConfiguration.RoleConfigurations != null &&
                                    Model.SiteConfiguration.RoleConfigurations.Count == 0)
                            {
                                <p class="card-text">
                                    No Roles or Role Categories have been created for this site yet.
                                    In order for ProRota to create accurate and efficient schedules for @Model.Company.CompanyName @Model.SiteName, this must be completed!
                                </p>

                                <!-- Link button to Manage Roles -->
                                <a asp-area="Management" asp-controller="Role" asp-action="Index" class="btn btn-primary">
                                    Add Roles and Categories
                                </a>
                            }
                            else
                            {
                                <!-- Manage roles button when roles exist -->
                                <a asp-area="Management" asp-controller="Role" asp-action="Index" class="btn btn-primary">
                                    Manage Roles
                                </a>
                            }
                        }
                    </div>
                </div>
                
            </dl>
        </div>

        @* TRADING SCHEDULE TABLE *@
        <div class="card shadow-sm mb-4" >
            <div class="card-body">
                <h5 class="card-title">Trading Schedule</h5>
                <p class="card-text">View @Model.Company.CompanyName @Model.SiteName's opening and closing times. </p>
                <p class="card-text">Click on a day to edit.</p>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Day of the Week</th>
                            <th>Open Time</th>
                            <th>Close Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td onclick="showEditTradingTimesPopUp(@((int)DayOfWeek.Monday))">Monday</td>
                            @if (Model.MondayOpenTime == null)
                            {
                                <td style="background-color: lightcoral;">Closed</td>
                                <td style="background-color: lightcoral;">Closed</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(model => model.MondayOpenTime)</td>
                                <td>@Html.DisplayFor(model => model.MondayCloseTime)</td>
                            }
                        </tr>
                        <tr>
                            <td onclick="showEditTradingTimesPopUp(@((int)DayOfWeek.Tuesday))">Tuesday</td>
                            @if (Model.TuesdayOpenTime == null)
                            {
                                <td style="background-color: lightcoral;">Closed</td>
                                <td style="background-color: lightcoral;">Closed</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(model => model.TuesdayOpenTime)</td>
                                <td>@Html.DisplayFor(model => model.TuesdayCloseTime)</td>
                            }
                        </tr>
                        <tr>
                            <td onclick="showEditTradingTimesPopUp(@((int)DayOfWeek.Wednesday))">Wednesday</td>
                            @if (Model.WednesdayOpenTime == null)
                            {
                                <td style="background-color: lightcoral;">Closed</td>
                                <td style="background-color: lightcoral;">Closed</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(model => model.WednesdayOpenTime)</td>
                                <td>@Html.DisplayFor(model => model.WednesdayCloseTime)</td>
                            }
                        </tr>
                        <tr>
                            <td onclick="showEditTradingTimesPopUp(@((int)DayOfWeek.Thursday))">Thursday</td>
                            @if (Model.ThursdayOpenTime == null)
                            {
                                <td style="background-color: lightcoral;">Closed</td>
                                <td style="background-color: lightcoral;">Closed</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(model => model.ThursdayOpenTime)</td>
                                <td>@Html.DisplayFor(model => model.ThursdayCloseTime)</td>
                            }
                        </tr>
                        <tr>
                            <td onclick="showEditTradingTimesPopUp(@((int)DayOfWeek.Friday))">Friday</td>
                            @if (Model.FridayOpenTime == null)
                            {
                                <td style="background-color: lightcoral;">Closed</td>
                                <td style="background-color: lightcoral;">Closed</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(model => model.FridayOpenTime)</td>
                                <td>@Html.DisplayFor(model => model.FridayCloseTime)</td>
                            }
                        </tr>
                        <tr>
                            <td onclick="showEditTradingTimesPopUp(@((int)DayOfWeek.Saturday))">Saturday</td>
                            @if (Model.SaturdayOpenTime == null)
                            {
                                <td style="background-color: lightcoral;">Closed</td>
                                <td style="background-color: lightcoral;">Closed</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(model => model.SaturdayOpenTime)</td>
                                <td>@Html.DisplayFor(model => model.SaturdayCloseTime)</td>
                            }
                        </tr>
                        <tr>
                            <td onclick="showEditTradingTimesPopUp(@((int)DayOfWeek.Sunday))">Sunday</td>
                            @if (Model.SundayOpenTime == null)
                            {
                                <td style="background-color: lightcoral;">Closed</td>
                                <td style="background-color: lightcoral;">Closed</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(model => model.SundayOpenTime)</td>
                                <td>@Html.DisplayFor(model => model.SundayCloseTime)</td>
                            }
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
<br>

<!-- hidden pop up for editing the site configuration -->
<div class="modal fade" id="EditSiteConfigurationPopUp" tabindex="-1" aria-labelledby="EditSiteConfigurationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditSiteConfigurationModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="EditConfiguration" asp-area="Management" asp-controller="Site" asp-action="EditConfiguration" method="post">

                    <!-- Booking Duration -->
                    <div class="mb-3">
                        <label for="bookingDuration" class="form-label">Standard Booking Duration</label>
                        <input type="time" class="form-control" id="bookingDuration" name="bookingDuration" step="900" required />
                        <div class="form-text">Enter the standard booking duration (e.g., 02:15 for 2 hours and 15 minutes).</div>
                        <div class="invalid-feedback">Please enter a valid duration in HH:mm format.</div>
                    </div>

                    <!-- Covers Capacity -->
                    <div class="mb-3">
                        <label for="coversCapacity" class="form-label">Restaurant Daily Capacity</label>
                        <input type="number" class="form-control" id="coversCapacity" name="coversCapacity" min="1" max="1000" required />
                        <div class="form-text">Enter the total number of covers (seats) your restaurant can accommodate in a single day (1-1000).</div>
                        <div class="invalid-feedback">Please enter a value between 1 and 1000.</div>
                    </div>

                    <!-- Number of Sections -->
                    <div class="mb-3">
                        <label for="numberOfSections" class="form-label">Number of Sections</label>
                        <input type="number" class="form-control" id="numberOfSections" name="numberOfSections" min="1" max="10" required />
                        <div class="form-text">How many sections is the restaurant floor split up into?</div>
                        <div class="invalid-feedback">Please enter between 1 and 10 sections.</div>
                    </div>

                    <div class="modal-footer">
                        <!-- Cancel Button -->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
                        <!-- Error Messaage -->
                        <div class="text-center">
                            <span id="errorMessage" style="color: red; display: none;"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Hidden pop-up for editing trading times -->
<div class="modal fade" id="EditTradingTimesPopUp" tabindex="-1" aria-labelledby="EditTradingTimesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditTradingTimesModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="EditTradingTimes" method="post" asp-area="Management" asp-controller="Site" asp-action="EditTradingTimes">
                    <div class="row mb-3">
                        <!-- Opening Time -->
                        <div class="col-md-6">
                            <label for="openingTime" class="form-label">Opening Time</label>
                            <input type="time" class="form-control" id="openingTime" name="openingTime" step="900" required />
                            <div class="form-text">Select the opening time.</div>
                            <div class="invalid-feedback">Please select a valid opening time.</div>
                        </div>
                        <!-- Closing Time -->
                        <div class="col-md-6">
                            <label for="closingTime" class="form-label">Closing Time</label>
                            <input type="time" class="form-control" id="closingTime" name="closingTime" step="900" required />
                            <div class="form-text">Select the closing time.</div>
                            <div class="invalid-feedback">Please select a valid closing time.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- Hidden input for day enum -->
                        <input id="dayOfWeekEnumEdit" type="hidden" name="dayOfWeekEnum" value="" />                                     
                        <!-- Cancel Button -->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <!-- Save Button -->
                        <button type="submit" class="btn btn-primary" id="saveButton">Save</button>
                        <!-- Error Messaage -->
                        <div class="text-center">
                            <span id="errorMessageTradingHours" style="color: red; display: none;"></span>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <form id="RemoveTradingHours" method="post" asp-area="Management" asp-controller="Site" asp-action="RemoveTradingTimes" class="w-100">
                        <input id="dayOfWeekEnumRemove" type="hidden" name="dayOfWeekEnum2" value="" />
                        <button type="submit" class="btn btn-danger w-100">Close Restaurant</button>
                    </form>
                </div>           
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = '@HttpUtility.JavaScriptStringEncode(ViewBag.PopUpMessage)';
        if (message && message.trim() !== '') {
            console.log('PopUp Message:', message);
            popUpMessage(message);
        }

        //listener for any changes in forms
        // document.getElementById("EditConfiguration").addEventListener("change", function (event) {
        //     validateSiteConfigurationForm();
        // });
        document.getElementById("EditTradingTimes").addEventListener("change", function (event) {
            validateTradingHours();
        });
    });
</script>