@model Dictionary<string, Dictionary<string, List<Shift>>>
@using ProRota.Models

@{
    //categories that represent all the key values within the parent dictionary
    var categories = new List<string> { "Unpublished", "ActiveWeek", "Published" };
}

<div class="card shadow-sm p-3 mb-5">
    <div class="card-header text-center">
        <h1 class="display-4">Rota Management</h1>
        <h3>Weekly Rotas</h3>
    </div>
    <div class="card-body text-center">

        <div class="text-center">
            <a asp-area="Management" asp-controller="Rota" asp-action="CreateNewRota" class="btn btn-primary btn-sm">Create New Rota</a>
        </div>
        <div class="container">
            
            @foreach (var category in categories)
            {
                if (Model.ContainsKey(category) && Model[category].Any())
                {
                    <div class="card mb-4">
                        <div class="card-header text-center">
                            <h2>@category Rotas</h2>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Week Ending</th>
                                        <th>Total Shifts</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var entry in Model[category])
                                    {
                                        <tr>
                                            <td>@entry.Key</td> <!-- Week Ending Date -->
                                            <td>@entry.Value.Count</td> <!-- Count of shifts -->
                                            <td>
                                                @{
                                                    if (category == "Unpublished")
                                                    {
                                                        <div>
                                                            @Html.ActionLink("Delete Draft", "ViewWeeklyRota", new { weekEnding = entry.Key }) |
                                                            @Html.ActionLink("Publish Rota", "ViewWeeklyRota", new { weekEnding = entry.Key }) |
                                                            @Html.ActionLink("Edit", "EditWeeklyRota", new { weekEnding = entry.Key })
                                                        </div>
                                                        
                                                    }
                                                    if (category == "ActiveWeek")
                                                    {
                                                        <div>
                                                            @Html.ActionLink("Edit", "EditWeeklyRota", new { weekEnding = entry.Key }) |
                                                            @Html.ActionLink("View", "ViewWeeklyRota", new { weekEnding = entry.Key }) |
                                                       </div>     
                                                    }
                                                    if (category == "Published")
                                                    {
                                                        if(DateTime.Parse(entry.Key) > ViewBag.Today)
                                                        {
                                                            <div>
                                                                @Html.ActionLink("Edit", "EditWeeklyRota", new { weekEnding = entry.Key }) |
                                                            </div>  
                                                        }

                                                        @Html.ActionLink("View", "ViewWeeklyRota", new { weekEnding = entry.Key })
                                                    }
                                                                
                                                                
                                                }                                              
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
            
        </div>
    </div>
</div>








